include README.md LICENSE AUTHORS.txt CHANGELOG.md PublicDecompWT.ABOUT
graft COMP
graft DISE
graft pybind
graft xRITDecompress
global-include CMakeLists.txt *.cmake
global-exclude makefile.vc Makefile *.dsp *.opt *.plg
prune cmake-build*